/**
  * Import external libraries.
 **/
/**
  * Importing custom css
 **/
/**
  * This file contains intial configuration about the susy grid layout and
  * Media Queries.
 ***/
/**
  * SUSY SETTINGS
 **/
/**
  * Declaring spacing variable
***/
/**
  * Declaring the breakpoint
***/
/**
  * 4 COL layout classes for Mobile layout (< $bp)
 **/
.col-s-1 {
  width: 22.30216%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-2 {
  width: 48.20144%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-3 {
  width: 74.10072%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-4 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.pre-s-1 {
  margin-left: 25.89928%;
}

.pre-s-2 {
  margin-left: 51.79856%;
}

.pre-s-3 {
  margin-left: 77.69784%;
}

.pre-s-4 {
  margin-left: 103.59712%;
}

.post-s-1 {
  margin-right: 25.89928%;
}

.post-s-2 {
  margin-right: 51.79856%;
}

.post-s-3 {
  margin-right: 77.69784%;
}

.post-s-4 {
  margin-right: 103.59712%;
}

/**
  * 12 COL layout classes for Desktop layout (=> $bp)
  */
@media (min-width: 960px) {
  .col-l-1 {
    width: 6.89655%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-2 {
    width: 15.3605%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-3 {
    width: 23.82445%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-4 {
    width: 32.2884%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-5 {
    width: 40.75235%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-6 {
    width: 49.2163%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-7 {
    width: 57.68025%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-8 {
    width: 66.1442%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-9 {
    width: 74.60815%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-10 {
    width: 83.0721%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-11 {
    width: 91.53605%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .pre-l-1 {
    margin-left: 8.46395%;
  }
}

@media (min-width: 960px) {
  .pre-l-2 {
    margin-left: 16.9279%;
  }
}

@media (min-width: 960px) {
  .pre-l-3 {
    margin-left: 25.39185%;
  }
}

@media (min-width: 960px) {
  .pre-l-4 {
    margin-left: 33.8558%;
  }
}

@media (min-width: 960px) {
  .pre-l-5 {
    margin-left: 42.31975%;
  }
}

@media (min-width: 960px) {
  .pre-l-6 {
    margin-left: 50.7837%;
  }
}

@media (min-width: 960px) {
  .pre-l-7 {
    margin-left: 59.24765%;
  }
}

@media (min-width: 960px) {
  .pre-l-8 {
    margin-left: 67.7116%;
  }
}

@media (min-width: 960px) {
  .pre-l-9 {
    margin-left: 76.17555%;
  }
}

@media (min-width: 960px) {
  .pre-l-10 {
    margin-left: 84.6395%;
  }
}

@media (min-width: 960px) {
  .pre-l-11 {
    margin-left: 93.10345%;
  }
}

@media (min-width: 960px) {
  .pre-l-12 {
    margin-left: 101.5674%;
  }
}

@media (min-width: 960px) {
  .post-l-1 {
    margin-right: 8.46395%;
  }
}

@media (min-width: 960px) {
  .post-l-2 {
    margin-right: 16.9279%;
  }
}

@media (min-width: 960px) {
  .post-l-3 {
    margin-right: 25.39185%;
  }
}

@media (min-width: 960px) {
  .post-l-4 {
    margin-right: 33.8558%;
  }
}

@media (min-width: 960px) {
  .post-l-5 {
    margin-right: 42.31975%;
  }
}

@media (min-width: 960px) {
  .post-l-6 {
    margin-right: 50.7837%;
  }
}

@media (min-width: 960px) {
  .post-l-7 {
    margin-right: 59.24765%;
  }
}

@media (min-width: 960px) {
  .post-l-8 {
    margin-right: 67.7116%;
  }
}

@media (min-width: 960px) {
  .post-l-9 {
    margin-right: 76.17555%;
  }
}

@media (min-width: 960px) {
  .post-l-10 {
    margin-right: 84.6395%;
  }
}

@media (min-width: 960px) {
  .post-l-11 {
    margin-right: 93.10345%;
  }
}

@media (min-width: 960px) {
  .post-l-12 {
    margin-right: 101.5674%;
  }
}

.mainContentRegion {
  margin: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 640;
  @inlcude box-sizing(border-box);
}
@media screen and (min-width: 960px) {
  .mainContentRegion {
    padding-right: 0;
    padding-left: 0;
    max-width: 1366px;
  }
}

.contentRegionInner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contentRegionInner:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  .contentRegionInner {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
  .contentRegionInner:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.html {
  background: #03234c;
}

.ui-loader {
  display: none;
}

.sec1 {
  position: relative;
  background: #fff;
  z-index: 100;
}
.sec1 .nivo-controlNav {
  position: relative;
  margin: 10px 0;
  padding: 0;
  z-index: 100;
}
@media screen and (min-width: 960px) {
  .sec1 .nivo-controlNav {
    position: absolute;
    top: 45%;
    margin: 0;
    right: 150px;
  }
}
.sec1 .slider-overlay-text {
  position: absolute;
  left: 40px;
  top: 20%;
  color: white;
  z-index: 100;
}
@media screen and (min-width: 960px) {
  .sec1 .slider-overlay-text {
    top: 45%;
    left: 132px;
  }
}
.sec1 .nivo-directionNav {
  display: none;
}
.sec1 .nivo-control {
  margin: 0 3px;
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: transparent;
  padding: 0;
  height: 10px;
  display: inline-block;
  background: #f8f8f8;
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .sec1 .nivo-control {
    margin: 3px;
    color: #03234c;
    padding: 2px 6.75px;
    display: inline;
    height: auto;
    padding: 0 4px;
    background: transparent;
  }
}
.sec1 .nivo-control.active {
  background: #03234c;
  font-weight: normal;
  font-style: italic;
  -webkit-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
}
@media screen and (min-width: 960px) {
  .sec1 .nivo-control.active {
    background: #fff;
  }
}
.sec1 .synopsis {
  font-style: italic;
  font-weight: lighter;
}
.sec1 .synopsis-main-text {
  font-size: 30px;
  line-height: 1.3em;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 960px) {
  .sec1 .synopsis-main-text {
    font-size: 34px;
    line-height: 2;
  }
}

.sec2 {
  background: #f8f8f8;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec2 {
    margin-top: -70px;
  }
}
.sec2 .jspDrag:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 25%;
  width: 1px;
  height: 50%;
  background-color: #e31e3c;
  z-index: 10;
  -webkit-box-shadow: 2px 0 0 0 #e31e3c, 4px 0 0 #e31e3c;
  -moz-box-shadow: 2px 0 0 0 #e31e3c, 4px 0 0 #e31e3c;
  -ms-box-shadow: 2px 0 0 0 #e31e3c, 4px 0 0 #e31e3c;
  -o-box-shadow: 2px 0 0 0 #e31e3c, 4px 0 0 #e31e3c;
  box-shadow: 2px 0 0 0 #e31e3c, 4px 0 0 #e31e3c;
}
.sec2 .sec2-content {
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  .sec2 .sec2-content {
    height: 721px;
  }
}
.sec2 .jspHorizontalBar {
  height: 13px;
}
.sec2 .jspTrack {
  background: #f8f8f8;
}
.sec2 .jspTrack .jspDrag {
  background: #03234c;
}
.sec2 .image-container {
  position: relative;
}
.sec2 .image-container img {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container img {
    position: relative;
  }
}
.sec2 .image-container.l {
  width: 588px;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container.l {
    width: auto;
    height: auto;
  }
}
.sec2 .image-container.p {
  width: 364px;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container.p {
    width: auto;
    height: auto;
  }
}
.sec2 .sec2-inner {
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 960px) {
  .sec2 .sec2-inner {
    margin-left: 64px;
    padding-top: 0;
  }
}
.sec2 .sec-item {
  float: left;
}
@media screen and (min-width: 960px) {
  .sec2 .sec-item {
    margin-right: 60px;
  }
}
.sec2 .sec-item .detail-container {
  height: 140px;
  margin-left: 20%;
  color: #03234c;
}
@media screen and (min-width: 960px) {
  .sec2 .sec-item .detail-container {
    height: 150px;
    margin-left: 0;
  }
}
.sec2 .sec-item .detail-container .synopsis-main-text {
  font-weight: bold;
  line-height: 1.5em;
  text-decoration: underline;
  font-size: 32px;
}
.sec2 .sec-item .synopsis-header {
  padding-top: 20px;
  font-style: italic;
  font-weight: lighter;
}
.sec2 .sec-item .images-processed {
  position: relative;
}
.sec2 .sec-item .images-processed img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
}
.sec2 .info-wrapper {
  border: 2px dashed #fff;
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 2000;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.sec2 .info-wrapper .info-inner {
  background: rgba(255, 255, 255, 0.7);
  color: #03234c;
  width: 125px;
  height: 125px;
}
.sec2 .info-wrapper .rounded-info {
  width: 80px;
  padding: 40px 25px;
  text-align: center;
  line-height: 1.2em;
  background: url("../img/dragger-icons.png") 50% 93% no-repeat;
}

.sec3-inner {
  background: #fff;
  padding: 74px 45px 74px 63px;
  position: relative;
}
.sec3-inner .nivoSlider {
  width: 100%;
  overflow: visible;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec3-inner .nivoSlider {
    width: 72.575516%;
  }
}
.sec3-inner .nivo-caption {
  position: relative;
  color: #03234c;
  background: transparent;
  margin-top: 40px;
}
@media screen and (min-width: 960px) {
  .sec3-inner .nivo-caption {
    margin: 0;
    position: absolute;
    left: 104.6%;
    width: 33.187294%;
  }
}
.sec3-inner .nivo-caption .synopsis {
  font-style: italic;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 5px;
}
.sec3-inner .nivo-caption .synopsis-main-text h2 {
  text-decoration: underline;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 35px;
}
.sec3-inner .nivo-caption .synopsis-main-text p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
}
.sec3-inner .nivo-caption .synopsis-main-text p:last-child {
  margin-bottom: 0;
}
.sec3-inner .nivo-directionNav {
  display: none;
}
.sec3-inner .nivo-controlNav {
  position: relative;
  margin: 10px 0;
  padding: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 960px) {
  .sec3-inner .nivo-controlNav {
    left: 104.6%;
    margin: 0;
    top: 5%;
    width: auto;
    text-align: left;
  }
}
.sec3-inner .nivo-control {
  margin: 0 3px;
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: transparent;
  padding: 0 0.5px;
  height: 10px;
  display: inline-block;
  background: #f8f8f8;
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .sec3-inner .nivo-control {
    margin: 3px;
    color: #03234c;
    padding: 2px 6.75px;
    display: inline;
    height: auto;
    padding: 2px 6px;
    background: transparent;
  }
}
.sec3-inner .nivo-control.active {
  background: #03234c;
  font-weight: normal;
  font-style: italic;
  color: transparent;
  -webkit-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
}
@media screen and (min-width: 960px) {
  .sec3-inner .nivo-control.active {
    padding: 2px 7px 2px 5px;
    color: #fff;
  }
}

.sec4 {
  overflow: hidden;
}
.sec4 .section-half {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half {
    width: 50%;
    float: left;
    max-width: 100%;
  }
}
.sec4 .section-half img {
  max-width: 100%;
  height: auto;
  float: left;
}
.sec4 .section-half .sec3-overlay {
  position: absolute;
  top: 45%;
  left: 42px;
  font-size: 32px;
  max-width: 403px;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .sec3-overlay {
    left: 45px;
    font-size: 42px;
  }
}
.sec4 .section-half .sec3-overlay div {
  line-height: 1;
}
.sec4 .section-half .sec3-overlay .explore {
  margin-top: 40px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
.sec4 .section-half.men-section {
  color: #fff;
  overflow: hidden;
  position: relative;
}
.sec4 .section-half.men-section .close-button {
  position: absolute;
  top: 22px;
  right: 46px;
  color: #03234c;
  font-size: 13px;
  font-style: italic;
  font-weight: lighter;
  z-index: 1010;
  cursor: pointer;
}
.sec4 .section-half.men-section .close-button .close-btn {
  background: url("../img/close.png") 50% 50% no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  -webkit-transition: all 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition: all 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition: all 500ms cubic-bezier(1, 0.495, 0, 0.415);
  transition: all 500ms cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
}
.sec4 .section-half.men-section .close-button .close-btn:hover {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.sec4 .section-half.men-section .section-items {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 9.224011% 38px 14.348462%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  display: none;
}
.sec4 .section-half.men-section .section-items .item {
  float: left;
  width: 28.696925%;
  margin-right: 19.033674%;
  color: #03234c;
  font-size: 13px;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.men-section .section-items .item {
    height: 334px;
  }
}
.sec4 .section-half.men-section .section-items .item:nth-child(2n+1) {
  margin-right: 0;
}
.sec4 .section-half.men-section .section-items .item .money-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.men-section .section-items .item .money-wrapper {
    margin-right: 0;
  }
}
.sec4 .section-half.women-section {
  color: #03234c;
  background: white;
}

.sec5 {
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 54px 0 54px 0%;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .sec5 {
    padding: 50px 0 50px 32.942898%;
    text-align: left;
  }
}
.sec5 .main-red-text {
  color: #e31e3c;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec5 .main-red-text {
    font-size: 24px;
  }
}
.sec5 .tnc-app {
  color: #ccc;
  font-style: italic;
  font-size: 10px;
}
@media screen and (min-width: 960px) {
  .sec5 .tnc-app {
    font-size: 13px;
  }
}
.sec5 .tnc-app a {
  color: #ccc;
  font-style: italic;
}
.sec5 .tnc-app a:hover {
  color: #bbb;
}

.sec6 {
  background: #fff;
  color: #03234c;
}
.sec6 .sec6-inner {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 65px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner {
    max-width: 100%;
  }
}
.sec6 .sec6-inner .grid-container {
  clear: both;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .grid-container {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .sec6 .sec6-inner .grid-container .item {
    display: table-cell;
    vertical-align: bottom;
  }
}
.sec6 .sec6-inner .item {
  color: #fff;
  padding-top: 40px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item {
    color: #03234c;
    padding-bottom: 84px;
  }
}
.sec6 .sec6-inner .item img {
  max-width: 100%;
  height: auto;
}
.sec6 .sec6-inner .item .image-detail-container {
  position: relative;
}
.sec6 .sec6-inner .item .image-detail-container .detail-container {
  position: absolute;
  top: 45%;
  left: 15px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item .image-detail-container .detail-container {
    position: relative;
    left: 0;
    top: 0;
  }
}
.sec6 .sec6-inner .item .synopsis {
  font-style: italic;
  font-weight: lighter;
}
.sec6 .sec6-inner .item .synopsis-main-content {
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item .synopsis-main-content {
    font-size: 26px;
  }
}
.sec6 .sec6-inner .item-1 {
  width: 50%;
  float: left;
  padding-top: 42px;
}
.sec6 .sec6-inner .item-1 img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-1 {
    float: none;
    padding-top: 40px;
    padding-left: 4.75842%;
    width: 24.08492%;
  }
  .sec6 .sec6-inner .item-1 img {
    width: auto;
    height: auto;
  }
}
.sec6 .sec6-inner .item-2 {
  width: 50%;
  float: left;
  padding-top: 42px;
}
.sec6 .sec6-inner .item-2 img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-2 {
    float: none;
    padding-top: 40px;
    width: 31.55198%;
    padding-left: 4.39239%;
  }
  .sec6 .sec6-inner .item-2 img {
    width: auto;
    height: auto;
  }
}
.sec6 .sec6-inner .item-3 {
  clear: both;
  width: 57.03125%;
  padding-left: 21.5625%;
  padding-right: 21.5625%;
  padding-top: 95px;
  color: #03234c;
  margin-bottom: 110px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-3 {
    clear: none;
    padding-top: 0;
    padding-left: 12.29868%;
    padding-right: 4.75842%;
    width: 44.2899%;
    margin-bottom: 0;
  }
}
.sec6 .sec6-inner .sec6-header {
  position: relative;
  color: #03234c;
  padding-left: 42px;
  padding-top: 62px;
  max-width: 640px;
  margin: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header {
    position: absolute;
    top: 12.5%;
    left: 0;
    padding-left: 4.75842%;
    width: 19.3265%;
    padding-top: 0;
  }
}
@media screen and (max-width: 1100px) and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header {
    top: 8%;
  }
}
.sec6 .sec6-inner .sec6-header a {
  color: #03234c;
}
.sec6 .sec6-inner .sec6-header .synopsis {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header .synopsis {
    margin-bottom: 5px;
  }
}
.sec6 .sec6-inner .sec6-header h2 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 22px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header h2 {
    margin-bottom: 10px;
  }
}
.sec6 .sec6-inner .sec6-header a {
  display: block;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header a {
    width: 40%;
    padding-bottom: 0;
    margin: 5px 20% 5px 0;
  }
  .sec6 .sec6-inner .sec6-header a:nth-child(2n) {
    margin-right: 0;
  }
}
