
//Defining the outer region for page template
.mainContentRegion{
  margin: auto;
  padding-right: $mobile-container-padding; // Provding  left column spacing for mobile
  padding-left: $mobile-container-padding; // Provding right column spacing for mobile
  max-width: $mobile-container - (2 * $mobile-container-padding); // Seeting the max width to fit in th 4 col layout
  @inlcude box-sizing(border-box);
  @media #{$large-screen}{ // Overriding the mobile css
    padding-right: $desktop-container-padding; // Provding right column spacing for mobile
    padding-left: $desktop-container-padding; // Provding right column spacing for mobile
    max-width: $desktop-container - (2 * $desktop-container-padding);
  }
}

//Defining innner content region as a Susy container
.contentRegionInner{
  @include container($mobile-container - (2 * $mobile-container-padding)); // Defining the susy grid 4 col for mobile layout
  @include susy-breakpoint($bp , $susy-l) { // Overriding the susy grid settings at breakpoint $bp;
    @include container($desktop-container - (2 * $desktop-container-padding)); // Re initialissing the container to use 12 grid col
  }
}
