// Initials Mixins
@mixin rounded($prop){
  -webkit-border-radius : $prop;
  -moz-rborder-adius : $prop;
  -ms-border-radius : $prop;
  -o-border-radius : $prop;
  border-radius : $prop;
}

@mixin transition($prop){
  -webkit-transition : $prop;
  -moz-transition : $prop;
  -ms-transition : $prop;
  -o-transition : $prop;
  transition : $prop;
}

@mixin box-sizing($prop){
  -webkit-box-sizing : $prop;
  -moz-box-sizing : $prop;
  -ms-box-sizing : $prop;
  -o-box-sizing : $prop;
  box-sizing : $prop;
}

@mixin transform($prop){
  -webkit-transform : $prop;
  -moz-transform : $prop;
  -ms-transform : $prop;
  -o-transform : $prop;
  transform : $prop;
}
