.sec3-inner{
  background: $white;
  padding : 74px 45px 74px 63px;
  position: relative;
  .nivoSlider{
    width: 100%;
    overflow: visible;
    position: relative;
    @media #{$large-screen}{
      width: 72.575516%;
    }
  }
  .nivo-caption{
    position: relative;
    color: $navy;
    background: transparent;
    margin-top: 40px;
    @media #{$large-screen}{
      margin: 0;
      position: absolute;
      left: 104.6%; // giving extra spacing
      width: 33.187294%;
    }
    .synopsis{
      font-style: italic;
      font-weight: lighter;
      line-height: 1;
      margin-bottom: 5px;
    }
    .synopsis-main-text{
      h2{
        text-decoration: underline;
        font-size: 32px;
        line-height: 1.3em;
        margin-bottom: 35px;
      }
      p{
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.2;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .nivo-directionNav{
    display: none;
  }
  .nivo-controlNav{
    position: relative;
    margin: 10px 0;
    padding :0;
    z-index: 100;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    @media #{$large-screen}{
      left: 104.6%;
      margin: 0;
      top : 5%;
      width: auto;
      text-align: left;
    }
  }
  .nivo-control{
    margin: 0 3px;
    @include rounded(100%);
    color: transparent;
    padding: 0 0.5px;
    height: 10px;
    display: inline-block;
    background: $light-grey;
    @media #{$large-screen}{
      margin: 3px;
      color: $navy;
      padding: 2px 6.75px;
      display: inline;
      height: auto;
      padding: 2px 6px;
      background: transparent;
    }
    font-size: 14px;
    &.active{
      background: $navy;
      font-weight: normal;
      font-style: italic;
      color: transparent;
      @media #{$large-screen}{
        padding: 2px 7px 2px 5px;
        color: $white;
      }
    -webkit-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
       -moz-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -o-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
            transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
       -moz-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -o-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
            transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
    }
  }
}
