
.sec4{
  overflow: hidden;
  .section-half{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: $white;
    overflow: hidden;
    @media #{$large-screen}{
      width: 50%;
      float: left;
      max-width: 100%;
    }
    img{
      max-width: 100%;
      height: auto;
      float: left;
    }
    position: relative;
    .sec3-overlay{
      position: absolute;
      top: 45%;
      left: 42px;
      font-size: 32px;
      max-width: 403px;
      @media #{$large-screen}{
        left: 45px;
        font-size: 42px;
      }
      div{
        line-height: 1;
      }
      .explore{
        margin-top: 40px;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
      }
    }
    &.men-section{
      color: $white;
      overflow: hidden;
      position: relative;
      .close-button{
        position: absolute;
        top: 22px;
        right: 46px;
        color: $navy;
        font-size: 13px;
        font-style: italic;
        font-weight: lighter;
        z-index: 1010;
        cursor: pointer;
        .close-btn{
          background: url('../img/close.png') 50% 50% no-repeat;
          display: block;
          width: 40px;
          height: 40px;
          background-size: cover;
          -webkit-transition: all 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
             -moz-transition: all 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
               -o-transition: all 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
                  transition: all 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
          -webkit-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
             -moz-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
               -o-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
                  transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
          &:hover{
            @include transform(rotateZ(180deg));
          }
        }
      }
      .section-items{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 10px 9.224011% 38px 14.348462%;
        z-index: 1000;
        @include box-sizing(border-box);
        background: $white;
        display: none;
        .item{
          float: left;
          width: 28.696925%;
          margin-right: 19.033674%;
          color: $navy;
          font-size: 13px;
          @media #{$large-screen}{
            height: 334px;
          }
          &:nth-child(2n+1){
            margin-right: 0;
          }
          .money-wrapper{
            margin-bottom: 30px;
            @media #{$large-screen}{
              margin-right: 0;
            }
          }
        }
      }
    }
    &.women-section{
      color: $navy;
      background: white;
    }
  }
}
