.sec2{
  background: $light-grey;
  position: relative;
  @media #{$large-screen}{
    margin-top: -70px;
  }
  .jspDrag:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 25%;
      width: 1px;
      height: 50%;
      background-color: $red;
      z-index: 10;
      -webkit-box-shadow: 2px 0 0 0 $red, 4px 0 0 $red;
      -moz-box-shadow: 2px 0 0 0 $red, 4px 0 0 $red;
      -ms-box-shadow: 2px 0 0 0 $red, 4px 0 0 $red;
      -o-box-shadow: 2px 0 0 0 $red, 4px 0 0 $red;
      box-shadow: 2px 0 0 0 $red, 4px 0 0 $red;
  }
  .sec2-content{
    overflow: hidden;
    @media #{$large-screen}{
      height: 721px;
    }
  }
  .jspContainer{
  }
  .jspHorizontalBar{
    height: 13px;
  }
  .jspTrack{
    background: $light-grey;
    .jspDrag{
      background: $navy;
    }
  }
  .image-container{
    position: relative;
    img{
      position: absolute;
      left: 0;
      bottom: 0;
      @media #{$large-screen}{
        position: relative;
      }
    }
    &.l{
      width: 588px;
      // height: 392px;
      @media #{$large-screen}{
        width: auto;
        height: auto;
      }
    }
    &.p{
      width: 364px;
      // height: 546px;
      @media #{$large-screen}{
        width: auto;
        height: auto;
      }
    }
  }
  .sec2-inner{
    position: relative;
    @media #{$large-screen}{
      margin-left: 64px;
      padding-top: 0;
    }
    display: inline-block;
  }
  .sec-item{
    float: left;
    // margin-right: 97px;
    @media #{$large-screen}{
      margin-right: 60px;
    }
    .detail-container{
      height: 140px;
      margin-left: 20%;
      @media #{$large-screen}{
        height: 150px;
        margin-left: 0;
      }
      color: $navy;
      .synopsis-main-text{
        font-weight: bold;
        line-height: 1.5em;
        text-decoration: underline;
        font-size: 32px;
      }
    }
    .synopsis-header{
      padding-top: 20px;
      font-style: italic;
      font-weight: lighter;
    }
    .images-processed{
      position: relative;
      img{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 200;
      }
    }
  }
  .info-wrapper{
    border: 2px dashed $white;
    position: absolute;
    top : 45%;
    left: 40%;
    z-index: 2000;
    overflow: hidden;
    @include rounded(100%);
    .info-inner{
      background: rgba(255,255,255,0.7);
      color: $navy;
      width: 125px;
      height: 125px;
    }
    .rounded-info{
      width: 80px;
      padding: 40px 25px;
      text-align: center;
      line-height: 1.2em;
      background: url('../img/dragger-icons.png') 50% 93% no-repeat;
    }
  }
}
