.sec1{
  position: relative;
  background: $white;
  z-index: 100;
  .nivo-controlNav{
    position: relative;
    margin: 10px 0;
    padding :0;
    z-index: 100;
    @media #{$large-screen}{
      position: absolute;
      top: 45%;
      margin: 0;
      right: 150px;
    }
  }
  .slider-overlay-text{
    position: absolute;
    left: 40px;
    top: 20%;
    @media #{$large-screen}{
      top: 45%;
      left: 132px;
    }
    color: white;
    z-index: 100;
  }
  .nivo-directionNav{
    display: none;
  }
  .nivo-control{
    margin: 0 3px;
    @include rounded(100%);
    color: transparent;
    padding: 0;
    height: 10px;
    display: inline-block;
    background: $light-grey;
    @media #{$large-screen}{
      margin: 3px;
      color: $navy;
      padding: 2px 6.75px;
      display: inline;
      height: auto;
      padding: 0 4px;
      background: transparent;
    }
    font-size: 14px;
    &.active{
      background: $navy;
      @media #{$large-screen}{
        background: $white;
      }
      font-weight: normal;
      font-style: italic;
    -webkit-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
       -moz-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -o-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
            transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */

    -webkit-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
       -moz-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
         -o-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
            transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
    }
  }
  .synopsis{
    font-style: italic;
    font-weight: lighter;
  }
  .synopsis-main-text{
    font-size: 30px;
    line-height: 1.3em;
    @media #{$large-screen}{
      font-size: 34px;
      line-height: 2;
    }
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}
